<div class="ui-g-12 ">
    <div class="ui-g-12">
        <div class="ui-g-8">
            <buscador-usuarios (onSelect)="setUsuario($event)"></buscador-usuarios>
        </div>
    </div>
    <div *ngIf="usuarioSeleccionado" class="ui-g-8">
        <p-toolbar>
            <div class="ui-toolbar-group-right">
                <button title="Remover Permiso" [disabled]="!entronqueSeleccionado" pButton type="button" icon="fa-times" (click)="eliminarPermiso()"></button>
                <button title="Actualizar datos" pButton type="button" icon="fa-refresh" (click)="actualizaEntronques()"></button>
            </div>
        </p-toolbar>
        <div *ngIf="selectorEntronqueOn && usuarioSeleccionado" class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
            <div class="ui-g">
                <div class="ui-g-10">
                    <selector-entronque [entronque]="entronque" (onChange)="setEntronque($event)"></selector-entronque>
                </div>
                <div class="ui-g-2">
                    <button [disabled]="!usuarioSeleccionado || !entronque" title="Agregar" style="width: 80%; top: 32px; position:relative;"
                        pButton (click)="agregarPermiso()" type="button" icon="fa-plus"></button>
                </div>
            </div>
        </div>
        <p-dataTable emptyMessage="Sin permisos" [value]="usuarioSeleccionado.entronques" selectionMode="single" [(selection)]="entronqueSeleccionado"
            [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,15,20]">
            <header>Entronques permitidos</header>
            <footer *ngIf="usuarioSeleccionado.entronques">Total: {{usuarioSeleccionado.entronques.length}}</footer>
            <p-column field="autopista.Nombre" header="Autopista/Grupo" [filter]="true"></p-column>
            <p-column field="IdEntronque" header="Identificador" [filter]="true"></p-column>
            <p-column field="Descripcion" header="Nombre" [filter]="true"></p-column>
        </p-dataTable>
    </div>
</div>
