<div class="container-fluid">
	<div class="row" style="height: 20%"></div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6" style="text-align: center">
			<md-toolbar color="warn">
				<span style="font-size: 300%">{{errorCode || 0}}</span>
				<span class="fill-remaining-space"></span>
				<md-icon fontSet="fa" [fontIcon]="faIcon ? faIcon: 'fa-warning'" style="font-size: 150%"></md-icon>
			</md-toolbar>
			<md-card>
				<md-card-title>{{error || 'Error'}}</md-card-title>
				<md-card-content>
					<p>{{mensaje || 'Mensaje'}}</p>
				</md-card-content>
			</md-card>
		</div>
		<div class="col-md-3"></div>
	</div>
	<div class="row"></div>
</div>