<form [formGroup]="buscadorForm">
    <label for="txtUsuarioBuscar">Buscar usuario</label>
    <div class="ui-g">
        <div class="ui-g-11 ui-g-nopad">
            <p-autoComplete placeholder="Usuario" id="txtUsuarioBuscar" formControlName="nombreUsuario" (onSelect)="seleccionarUsuario($event)"
                minLength="3" [suggestions]="items | async" (completeMethod)="search($event)" field="usuario" [inputStyle]="{'width':'100%'}"
                [style]="{'width':'100%'}"></p-autoComplete>
        </div>
        <div class="ui-g-1 ui-g-nopad"  style="height: 30px;">
            <md-spinner *ngIf="buscando" style="height: 40px; display: inline;"></md-spinner>
        </div>
    </div>
</form>