.mnx-left{
}
.mnx-right{

}
.mnx-center{
    min-height: 80%;
    /*background-color: lightcyan;*/
}
.mnx-top{
    min-height: 70px;;
    /*background-color: lightgoldenrodyellow;*/
}
.mnx-bottom{
    min-height: 8%;
    /*background-color: lightgray;*/
}
.mnx-centered-content {
    text-align: center;
}