<div class="container-fluid">
	<div class="row mnx-top"></div>
	<div class="row mnx-center">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 mnx-left"></div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 mnx-center">
			<mnx-bitacoras-cdc-mensajes></mnx-bitacoras-cdc-mensajes>
			<md-toolbar color="primary">
				<md-icon fontSet="fa" fontIcon="fa-history"></md-icon>
				<span>Bitácoras CDC</span>
			</md-toolbar>
			<router-outlet></router-outlet>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 mnx-right"></div>
	</div>
	<div class="row mnx-bottom"></div>
</div>
<mnx-bitacoras-cdc-indicador-carga-dialogo></mnx-bitacoras-cdc-indicador-carga-dialogo>