<div class="ui-g">
	<div class="ui-g-12 mnx-top"></div>
	<div class="ui-g-12 mnx-center">
		<div class="ui-g-1 ui-sm-1 ui-md-1 ui-lg-1 ui-xl-1 mnx-left"></div>
		<div class=" ui-g-10 ui-sm-10 ui-md-10 ui-lg-10 ui-xl-10 mnx-center">
			<mnx-bitacoras-cdc-mensajes></mnx-bitacoras-cdc-mensajes>
			<md-toolbar color="primary">
				<md-icon fontSet="fa" fontIcon="fa-history"></md-icon>
				<span>Bitácoras CDC</span>
			</md-toolbar>
			<router-outlet></router-outlet>
		</div>
		<div class="ui-g-1 ui-sm-1 ui-md-1 ui-lg-1 ui-xl-1 mnx-right"></div>
	</div>
	<div class="ui-g-12 mnx-bottom"></div>
</div>
<mnx-bitacoras-cdc-indicador-carga-dialogo></mnx-bitacoras-cdc-indicador-carga-dialogo>