<form [formGroup]="selectorForm">
    <div class="ui-g">
        <div class="ui-g-6">
            <label>Autopista/Grupo</label>
            <p-dropdown [filter]="true" [options]="autopistasItems" formControlName="idAutopistaStr" [style]="{'width':'95%'}" (onChange)="seleccionaAutopista()">
                <ng-template let-aut>
                    <div style="height: 25px;">
                        {{aut.label}}
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div *ngIf="selectorForm.get('idAutopistaStr').valid && showEntronques" class="ui-g-6">
            <label>Entronque</label>
            <p-dropdown [filter]="true" [options]="entronquesItems" formControlName="idEntronqueStr" [style]="{'width':'95%'}" (onChange)="seleccionaEntronque()">
                <ng-template let-ent>
                    <div style="height: 25px;">
                        {{ent.label}}
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>
</form>