<div class="ui-g" [formGroup]="formTest">
  <div class="ui-g-12 ui-md-6 ui-lg-4">
    <md-input placeholder="Nombre" dividerColor="primary" class="input-full-width" formControlName="uno"></md-input>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-4">
    <md-input placeholder="Nombre" dividerColor="accent" class="input-full-width" formControlName="dos"></md-input>
  </div>
  <div class="ui-g-12 ui-lg-4">
    <md-input placeholder="Nombre" dividerColor="warn" class="input-full-width" formControlName="tres"></md-input>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-3 ui-md-5 ui-lg-5"></div>
  <div class="ui-g-6 ui-md-2 ui-lg-2 mnx-centered-content">
    <button [@estado]="estatus ? 'activo' : 'inactivo'" md-raised-button (click)="toogleEstado()">Toogle</button>
  </div>
  <div class="ui-g-3 ui-md-5 ui-lg-5"></div>
</div>
<!--<div class="ui-g">
  <div class="ui-g-6 ui-md-2 ui-lg-2">
    <button class="pull-left" [@estado]="estatus ? 'activo' : 'inactivo'" md-raised-button (click)="toogleEstado()">Toogle</button>
  </div>
  <div class="ui-g-3 ui-md-5 ui-lg-5"></div>
  <div class="ui-g-3 ui-md-5 ui-lg-5"></div>
</div>
<div class="ui-g">
  <div class="ui-g-3 ui-md-5 ui-lg-5"></div>
  <div class="ui-g-3 ui-md-5 ui-lg-5"></div>
  <div class="ui-g-6 ui-md-2 ui-lg-2">
    <button class="pull-right" [@estado]="estatus ? 'activo' : 'inactivo'" md-raised-button (click)="toogleEstado()">Toogle</button>
  </div>
</div>-->