<form [formGroup]="formSelector">
  <div class="ui-g ui-g-nopad">
    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-6 ui-xl-6">
      <label>Conjunto de Cambios</label>
      <p-dropdown [options]="conjuntosDCSI" formControlName="conjCambios" filter="filter">
        <template let-cdc>
          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <div style="margin-top:4px">{{cdc.label}}</div>
          </div>
        </template>
      </p-dropdown>
    </div>
    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-6 ui-xl-6">
      <label>Tabla Origen</label>
      <p-dropdown [options]="tablasOrigenSI" formControlName="tablaOrigen" filter="filter">
        <template let-to>
          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <div style="margin-top:4px">{{to.label}}</div>
          </div>
        </template>
      </p-dropdown>
    </div>
  </div>
</form>