<md-card>
	<md-card-header>
		<!--<md-card-title>{{metadata | bitCdcMetadata}}</md-card-title>
						<md-card-subtitle>{{llave | bitCdcLlave: ['CVE_OPERACION'] }}</md-card-subtitle>-->
		<md-card-title style="font-weight: bold">Consulta general</md-card-title>
		<!--<md-card-subtitle> -- </md-card-subtitle>-->
	</md-card-header>
	<md-card-content>
		<mnx-bitacoras-cdc-selector-bitacora [idTabOrigen]="idTabOrigen" (tablaSeleccionada)="setIdTabOrigen($event)"></mnx-bitacoras-cdc-selector-bitacora>
		<mnx-bitacoras-cdc-consulta-bitacora [idTabOrigen]="idTabOrigen"></mnx-bitacoras-cdc-consulta-bitacora>
	</md-card-content>
</md-card>