/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';*/

html,  body {
    height: 100%;
    overflow: hidden;
    margin: 0px;
}
.jumbotron, .container-fluid{
    min-height: 100%;
    overflow: hidden;
}
.fill-remaining-space {
    flex: 1 1 auto;
}