/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';*/

html,  body {
    height: 100%;
    /*overflow: hidden;*/
    margin: 0px;
}
.jumbotron, .container-fluid{
    min-height: 100%;
    /*overflow: hidden;*/
}
.fill-remaining-space {
    flex: 1 1 auto;
}
.ui-dropdown{
    width: 95%!important;
}
.ui-dropdown .ui-dropdown-trigger{
    width: 28px!important;
}
.ui-messages {
    padding: 10px 10px 10px 5px;
    margin: 0px 0;
}
.ui-widget{
    font-size: 80%;
}
.ui-autocomplete-input-token .ui-inputtext {
      width: 95%!important;
}
.ui-calendar > input.hasDatepicker {
     width: 95%!important;
}
md-input {
    overflow: visible!important;
}
.input-full-width {
    width: 95%;
}

.ui-dialog{
    overflow: visible;
}
.ui-dialog-content{
    overflow: visible;
}
.ui-dialog .ui-dialog-content{
     overflow: visible;
}
a.ui-datepicker-prev{
    color: #ffffff;
}
a.ui-datepicker-next{
    color: #ffffff;
}
.ui-dialog-content [md-raised-button], [md-fab], [md-mini-fab], [md-button], [md-icon-button] {
    line-height: 25px;
}
.ui-dialog .ui-dialog-titlebar{
    margin: 5px 5px 2px 5px;
    padding: 0em 0em 0em .5em;
}
.ui-dialog .ui-dialog-title{
    font-size: 16px !important
}