<div class="ui-g-12 ui-g-nopad" style="overflow: visible!important;">
    <div class="ui-g-12 ui-md-6 ui-lg-6">
        <form [formGroup]="datosForm">
            <div *ngIf="entronque.Id <= 0" class="ui-g-12">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Tipo enlace" required formControlName="tipoEnlace">
                        <mat-option *ngFor="let te of tiposEnlace" [value]="te.value">
                            {{te.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="ui-g-12">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Autopista" required formControlName="idAutopista">
                        <mat-option *ngFor="let aut of autopistaSI" [value]="aut.value">
                            {{aut.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="ui-g-12">
                <mat-form-field class="full-width">
                    <input placeholder="Nombre entronque" required matInput type="text" formControlName="nombre">
                    <mat-error *ngIf="datosForm.get('nombre').hasError('required')">Campo requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="ui-g-12">
                <mat-form-field class="full-width">
                    <input placeholder="Id entronque" required matInput type="text" formControlName="idEntronque">
                    <mat-error *ngIf="datosForm.get('idEntronque').hasError('required')">Campo requerido</mat-error>
                    <mat-error *ngIf="datosForm.get('idEntronque').hasError('pattern')">El identificador debe estar compuesto de solo dígitos</mat-error>
                </mat-form-field>
            </div>
            <div class="ui-g-12">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Tabla destino" required formControlName="tablaDestino">
                        <mat-option *ngFor="let tb of tablasSI" [value]="tb.value">
                            {{tb.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-6">
        <form [formGroup]="enlaceForm">
            <div class="ui-g-12">
                <mat-form-field class="full-width">
                    <input placeholder="Dirección ip" required matInput type="text" formControlName="ip">
                    <mat-error *ngIf="!enlaceForm.get('ip').hasError('required')">Campo requerido</mat-error>
                    <mat-error *ngIf="!enlaceForm.get('ip').hasError('pattern')">Patrón de valor incorrecto [0-255].[].[].[0-255]</mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="(enlaceForm.contains('tipoEnlace') && (enlaceForm.get('tipoEnlace').value === 2)) || enlaceForm.contains('puerto')" class="ui-g-12">
                <mat-form-field class="full-width">
                    <input placeholder="Puerto" required matInput type="text" formControlName="puerto">
                    <mat-error *ngIf="!enlaceForm.get('puerto').hasError('required')">Campo requerido</mat-error>
                    <mat-error *ngIf="!enlaceForm.get('puerto').hasError('pattern')">Valor incorrecto, solo dígitos [0-9]</mat-error>
                </mat-form-field>
            </div>
            <div class="ui-g-12">
                <mat-form-field class="full-width">
                    <input placeholder="Usuario" required matInput type="text" formControlName="usuario">
                    <mat-error *ngIf="enlaceForm.get('usuario').invalid">Campo requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="ui-g-12">
                <mat-form-field class="full-width">
                    <input [type]="ocultapsw?'password':'text'" required autocomplete="password" matInput placeholder="Contraseña" formControlName="contrasena">
                    <mat-icon inline="true" matSuffix (click)="ocultapsw = !ocultapsw" style="cursor: pointer;">
                        {{ocultapsw? 'visibility' : 'visibility_off'}}
                    </mat-icon>
                    <mat-error *ngIf="enlaceForm.get('contrasena').invalid">Campo requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="ui-g-12">
                <mat-form-field class="full-width">
                    <input placeholder="Base de datos" required matInput type="text" formControlName="base">
                    <mat-error *ngIf="enlaceForm.get('base').invalid">Campo requerido</mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="ui-g-12">
        <button class="pull-right" [disabled]="(!datosForm.valid || (datosForm.pristine && enlaceForm.pristine))" mat-raised-button color="primary" (click)="registraEntronque()">
                    <mat-icon fontSet="fa" [fontIcon]="(entronque.Id>0?'fa-floppy-o':'fa-plus')" inline="true"></mat-icon>
                    {{entronque.Id>0?'Actualizar Entronque ':'Agragar Entronque'}}{{enlaceForm.valid ? '/Enlace' : '' }}
			</button>
    </div>
</div>